.add-item{
    margin: 4px 10px 10px 5px;
    width: 150px;
    height: 36px;
    line-height: 10px;
    padding-bottom: 7px;
    text-align: center;
}

.add-input{
    margin: 10px 5px 10px 15px;
    height: 35px;
    border: 0.5px solid grey;
    border-radius: 3px;
    padding-left: 10px;
    width: 220px;
}