.button-filter{
    height: 35px;
    text-align: center;
    vertical-align: middle;
    transform: translateY(-7%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    line-height: 5px;
    color: rgba(0, 0, 0, 0.8);
}