.btn{
    height: 35px;
    text-align: center;
    vertical-align: middle;
    transform: translateY(-7%);
    border: 1px solid rgba(0, 0, 0);
    /* padding: 0 auto 35px auto; */
    line-height: 5px;
}
.btn-info{
    border-right: 0.5px solid rgba(0, 0, 0, 0.7);
}
.btn-primary{
    /* height: 34.8px; */
    border-left: 0.5px solid rgba(0, 0, 0, 0.7);
    border-right: 0.5px solid rgba(0, 0, 0, 0.7);
    /* border-bottom: 1.5px solid rgba(0, 0, 0); */
}

.btn-success{
    border-left: 0.5px solid rgba(0, 0, 0, 0.7);
}

/* .btn-group{
    /*display: table;
} */