  
.todo-list-item {
    font-size: 1.25rem;
    /* padding: 0 0 10px 0; */
  }
  
.todo-list-item button {
    width: 35px;
    margin: -30px 3px 10px 0;
}

.to-do-list-item-label{
    margin-left: 5px;
    margin-top: -6px;
    /* margin-bottom: 5px; */
    cursor: pointer;
    /* user-select: none; */
    /* vertical-align: middle;*/
    line-height: 35px;
    width: 200px;
}

.done{
    text-decoration: line-through;
}
  
.important{
    font-weight: bold;
    color: steelblue;
  }